.page1{
    padding: 20px;
}
.page2{
    padding: 20px;
}
.page3{
    padding: 20px;
}
.page4{
    padding: 20px;
}
.page5{
    padding: 20px;
}
.upload-form{
    border: solid gray;
}
.title-container img{
    width: 2rem;
}