{% extends 'base.html' %}

{% block content %}
    <div id="page-container">
    <header id="main-header" data-height-onload="66">
            <div class="container clearfix et_menu_container" style="background: darkorange;">
                <div class="title_container">
                    <h1>
                        ChainReaction <img src="/media/images/bicycle_front.png" style="max-width: 2rem;" alt="">
                        <img src="/media/images/bike_front.png" style="max-width: 2rem;" alt="">
                    </h1>
                </div>
                <div id="et-top-navigation" data-height="66" data-fixed-height="40">
                    <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav">
                            <li id="menu-item-242933"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242933"><a
                                    href="{% url 'bikes:index' %}">Home</a>
                            </li>
                            <li id="menu-item-242935"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242935"><a
                                    href="{% url 'bikes:service' %}">Service</a>
                            </li>
                            <li id="menu-item-242939"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242939"><a
                                    href="{% url 'bikes:blog' %}">Blog</a>
                            </li>
                            <li id="menu-item-242941"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242941"><a
                                    href="{% url 'bikes:services' %}">Services</a>
                            </li>
                            <li id="menu-item-242945"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242945"><a
                                    href="{% url 'bikes:contact' %}">Contact</a>
                            </li>
                            <li id="menu-item-242947"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242947"><a
                                    href="{% url 'bikes:about' %}">About</a>
                            </li>
                        </ul>
                    </nav>
                    <div id="et_mobile_nav_menu">
                        <div class="mobile_nav closed">
                            <span class="select_page">Select Page</span>
                            <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="et_search_outer">
                <div class="container et_search_form_container">
                    <form role="search" method="get" class="et-search-form"
                          action="https://www.elegantthemes.com/layouts/">
                        <input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s"
                               title="Search for:"/></form>
                    <span class="et_close_search_field"></span>
                </div>
            </div>
        </header>

    <div class="page1">
        <h2><b>Home Page</b></h2>
        <div class="upload-form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block" style="padding: 10px">
  <button class="btn btn-primary" type="button">Submit</button>
</div>
            </form>
        </div>
    </div>

    <div class="page2">
        <h2><b>Service Page</b></h2>
        <div class="upload-form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form2.as_p }}
                <div class="d-grid gap-2 d-md-block" style="padding: 10px">
  <button class="btn btn-primary" type="button">Submit</button>
</div>
            </form>
        </div>
    </div>

    <div class="page3">
        <h2><b>Blog Page</b></h2>
        <div class="upload-form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form3.as_p }}
                <div class="d-grid gap-2 d-md-block" style="padding: 10px">
  <button class="btn btn-primary" type="button">Submit</button>
</div>
            </form>
        </div>
    </div>

    <div class="page4">
        <h2><b>Services Page</b></h2>
        <div class="upload-form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form4.as_p }}
                <div class="d-grid gap-2 d-md-block" style="padding: 10px">
  <button class="btn btn-primary" type="button">Submit</button>
</div>
            </form>
        </div>
    </div>

    <div class="page5">
        <h2><b>Contact Page</b></h2>
        <div class="upload-form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form5.as_p }}
                <div class="d-grid gap-2 d-md-block" style="padding: 10px">
  <button class="btn btn-primary" type="button">Submit</button>
</div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}